:root {
  --main-color: #0f6715;
  --second-color: #0b18ce;
  --text-color: #ffffff;
  --background-color: #282D35;
}

body {
  /* background-color: var(--background-color); */  
  font-size: 16px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  padding: 20px;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bold {
  font-weight: bold;
  font-size: 18px;
}

.gray {
  color: #918E9B;
}
