/* ==== MovieModal start ==== */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(54, 53, 53, 0.9);
    z-index: 2;
}

.modal-main {
    position: fixed;
    background-color: var(--background-color-2);
    width: 50%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-score {
    font-size: 18px;
    display: flex;
    min-height: 40px;
    justify-content: space-between;
    align-items: center;
    background-color: #201313;
    padding: 5px 20px;
}

.modal-score .modal-rating span {
    color: var(--second-color);
}

.modal-body {
    display: flex;
    height: 100%;  
    gap: 30px;
    padding: 20px;
}

.modal-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-info .info-item {
    display: flex;
    gap: 10px;
    /* align-items: center; */
}

.modal-info .info-item h5 {
    line-height: 1;
    font-family: var(--font-roboto);
    font-weight: 600;
    font-size: 18px;
    color: var(--main-color);
}

.modal-info .info-item p {
    color: var(--second-color);
    font-size: 18px;
    font-weight: 500;
    font-family: var(--font-raleway);
}



.modal-img img {
    width: fit-content;
    height: auto;
    border: 2px solid black;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
    
}

@media screen and (max-width: 1900px) {
    .modal-main {
        width: 60%;
    }
} 

@media screen and (max-width: 1700px) {
    .modal-main {
        width: 80%;
        
    }
} 

@media screen and (max-width: 1300px) {
    .modal-main {
        width: 90%;
    }
} 

@media screen and (max-width: 1200px) {
    .modal-body {
        flex-direction: column;
    }
    .modal-img {
        display: flex;
        justify-content: center;
    }
    .modal-img img {
        max-height: 350px;
    }
    .modal-info .info-item h5 {
        font-size: 16px;
    }
    .modal-info .info-item p {
        font-size: 16px;
    }
    .modal-score {
        font-size: 16px;
    }
}

@media screen and (max-width: 950px) {
    .modal-img img {
        max-height: 300px;
    }
}

@media screen and (max-width: 650px) {
    .modal-info .info-item h5 {
        font-size: 14px;
    }
    .modal-info .info-item p {
        font-size: 14px;
    }
    .modal-score {
        font-size: 14px;
    }
}

@media screen and (max-width: 500px) {
    .modal-body {
        gap: 10px;
        padding: 10px;
    }
    .modal-img img {
        max-height: 200px;
    }
    .modal-info .info-item h5 {
        font-size: 14px;
    }
    .modal-info .info-item p {
        font-size: 14px;
    }
}




/* ==== MovieModal end ==== */
